{% extends 'default.html' %}
{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">{{ title }}</h1>
      <p class="fs-5 text-muted">Here you can calculate mortgage parameters.<br>Just enter your initial conditions.</p>
</div>

    <div class="row g-3">
      <div class="col-md-3 col-lg-3">
      </div>
      <div class="col-md-3 col-lg-3 order-md-last">
      </div>

      <div class="col-md-3 col-lg-6">
        <form class="needs-validation" action="{% url 'mortgage' %}" method="post">
          {% csrf_token %}
          <div class="row g-3">
            {% for field in form %}
              {% if field.field.required %}
                <div class="col-md-6">
                  <label for="{{ field.auto_id }}" class="form-label" >{{ field.label }}</label>
                  {{ field }}
                  <small class="text-muted">{{ field.help_text }}</small>
                </div>
              {% endif %}
            {% endfor %}
          </div>

          <hr class="my-4">

          <div class="form-check">
            {{ form.early_payment }}
          <label class="form-check-label" for="{{ form.early_payment.auto_id }}">{{ form.early_payment.label }}</label>
          </div>
          <br>

          <div class="row g-3">
            {% for field in form %}
              {% if not field.field.required %}
                {% if field.name != 'early_payment' %}
                  <div class="col-md-6">
                    <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    <small class="text-muted">{{ field.help_text }}</small>
                    {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                    {% endif %}
                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}

<!--            <div class="col-md-6">-->
<!--              <label for="{{ form.first_month.auto_id }}" class="form-label">{{ form.first_month.label }}</label>-->
<!--              {{ form.first_month }}-->
<!--              <small class="text-muted">{{ form.first_month.help_text }}</small>-->
<!--              {% if form.first_month.errors %}-->
<!--              {% for error in form.first_month.errors %}-->
<!--                  <div class="alert alert-danger" role="alert">{{ error }}</div>-->
<!--              {% endfor %}-->
<!--              {% endif %}-->
<!--            </div>-->

<!--            <div class="col-md-6">-->
<!--              <label for="{{ form.frequency.auto_id }}" class="form-label">{{ form.frequency.label }}</label>-->
<!--              {{ form.frequency }}-->
<!--              <small class="text-muted">I will make early payments every ..th month<br>Example: 1 (every month);<br>6 (every half of the year)</small>-->
<!--              {% if form.frequency.errors %}-->
<!--              {% for error in form.frequency.errors %}-->
<!--                  <div class="alert alert-danger" role="alert">{{ error }}</div>-->
<!--              {% endfor %}-->
<!--              {% endif %}-->
<!--            </div>-->

<!--            <div class="col-12">-->
<!--              <label for="{{ form.early_pay_amount.auto_id }}" class="form-label">{{ form.early_pay_amount.label }}</label>-->
<!--              {{ form.early_pay_amount }}-->
<!--              <small class="text-muted">Amount of periodical early payment<br>Example: 50000 (50000 RUB)</small>-->
<!--              {% if form.early_pay_amount.errors %}-->
<!--              {% for error in form.early_pay_amount.errors %}-->
<!--                  <div class="alert alert-danger" role="alert">{{ error }}</div>-->
<!--              {% endfor %}-->
<!--              {% endif %}-->
<!--            </div>-->

          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Calculate</button>
        </form>
      </div>

    </div>

{% endblock %}